{% extends "layout.html" %}

{% block content %}
<div class="container"><div class="flex">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" width="170">
    </div>
    <div class="text-container">
        <h2>肖像権指パッチン</h2>
        <a href="https://docs.google.com/document/d/1OEpoBB9DtwWiP6YmjgQovh9EyFBZ-AH8vUmGbsJu34c/edit?usp=sharing">フィードバックしてね</a>
    </div>
</div>

<div class="text-container">
<p ><h2>画像の顔を自動で隠します！</h2></p>
</div>
<br>

<h1>❶加工する画像を選択してください</h1>

<!-- ファイル選択とアップロードのフォーム -->
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" required>
    <br>
    <br>
    <!-- ラジオボタンで処理を選択 -->

    <br><h1>❷顔に適用する処理を選択してください</h1>
    
    <input id="item-1" class="radio-inline__input" type="radio" name="option" value="mosaic" checked="checked"/>

    <label class="radio-inline__label" for="item-1">
        モザイク
    </label>
    <input id="item-2" class="radio-inline__input" type="radio" name="option" value="blur"/>
    <label class="radio-inline__label" for="item-2">
        ぼかし
    </label>
    <input id="stamp" class="radio-inline__input" type="radio" name="option" value="stamp"/>
    <label class="radio-inline__label" for="stamp">
        スタンプ
    </label>

    <br>

    <!-- スタンプ用の画像を選択するフォームを追加する -->
    <div id="stamp_form" style="display: none;">
        <br>
        <h3>スタンプ用の画像ファイルを選択してください</h3>
        <input type="file" name="stamp">
        <br>
        <h3>または、デフォルトのスタンプをクリックしてください</h3>
        <!-- デフォルトのスタンプを画像として表示する -->
        <div id="default_stamps">
            {% for stamp in default_stamps %}
            <img src="{{ url_for('static', filename='default_stamp/' + stamp) }}" alt="{{ stamp }}" class="default_stamp">
            {% endfor %}
        </div>
        <!-- 隠しフィールドで選択したデフォルトのスタンプのファイル名を送信する -->
        <input type="hidden" name="default_stamp" id="default_stamp">
    </div>
    <br>
    <br>
    <!-- ラジオボタンで自動処理と手動処理を選択する -->
    <h1>❸自動処理と手動処理を選択してください</h1>
    <input id="auto" class="radio-inline__input" type="radio" name="type" value="auto" checked="checked"/>
    <label class="radio-inline__label" for="auto">
        自動処理
    </label>
    <input id="manual" class="radio-inline__input" type="radio" name="type" value="manual"/>
    <label class="radio-inline__label" for="manual">
        手動処理(スタンプ未対応)
    </label>
    <br>
    <br>
    <input type="submit" value="加工する！" class="button">
</form>
<br>
<script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>

{% endblock %}
