{% extends "layout.html" %}

{% block content %}
<div class="container"><div class="flex">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" width="170" id="backButton">
    </div>
    <div class="text-container">
        <h2>肖像権指パッチン</h2>
        <a href="https://docs.google.com/document/d/1OEpoBB9DtwWiP6YmjgQovh9EyFBZ-AH8vUmGbsJu34c/edit?usp=sharing">フィードバックしてね</a>
    </div>
</div>

<div class="text-container">
<p ><h2>画像の顔を自動で隠します！</h2></p>
</div>
<br>

<h1>❶加工する画像を選択してください</h1>

<!-- ファイル選択とアップロードのフォーム -->
<form action="/upload" method="post" enctype="multipart/form-data">
    <label class="custom-file-upload">
        <input type="file" name="file" accept="image/*" required style="display:none"
               onchange="document.getElementById('filename').textContent = this.files[0].name">
        アップロードする画像を選ぶ
    </label>
    <div id="filename" class="filename-display">選択されていません</div>
    <!-- <input type="file" name="file" accept="image/*" required> -->
    <br>
    <!-- ラジオボタンで処理を選択 -->

    <br><h1>❷顔に適用する処理を選択してください</h1>
    
    <input id="item-1" class="radio-inline__input" type="radio" name="option" value="mosaic" checked="checked"/>

    <label class="radio-inline__label" for="item-1">
        モザイク
    </label>
    <input id="item-2" class="radio-inline__input" type="radio" name="option" value="blur"/>
    <label class="radio-inline__label" for="item-2">
        ぼかし
    </label>
    <input id="stamp" class="radio-inline__input" type="radio" name="option" value="stamp"/>
    <label class="radio-inline__label" for="stamp">
        スタンプ
    </label>

    <br>

    <!-- スタンプ用の画像を選択するフォームを追加する -->
    <div id="stamp_form" style="display: none;">
        <br>
        <h3>スタンプ用の画像ファイルを選択してください</h3>
        <!-- <input type="file" name="stamp"> -->
        <label class="custom-file-upload">
            <input type="file" name="stamp" accept="image/*" style="display:none"
                   onchange="document.getElementById('filename2').textContent = this.files[0].name">
            スタンプに使いたい画像がある方!押して
        </label>
        <div id="filename2" class="filename-display">選択されていません</div>
        <br>
        <h3>または、デフォルトのスタンプをクリックしてください</h3>
        <!-- デフォルトのスタンプを画像として表示する -->
        <div id="default_stamps">
            {% for stamp in default_stamps %}
            <img src="{{ url_for('static', filename='default_stamp/' + stamp) }}" alt="{{ stamp }}" class="default_stamp">
            {% endfor %}
        </div>
        <!-- 隠しフィールドで選択したデフォルトのスタンプのファイル名を送信する -->
        <input type="hidden" name="default_stamp" id="default_stamp">
    </div>
    <br>
    <!-- ラジオボタンで自動処理と手動処理を選択する -->
    <h1>❸自動処理と手動処理を選択してください</h1>
    <div class="option-container">
        <input id="auto" class="radio-inline__input" type="radio" name="type" value="auto" checked="checked"/>
        <label class="radio-inline__label" for="auto">
            自動処理
            <div id="balloonA" class="balloon">AIが自動で処理をします</div>
        </label>
    </div>
    <div class="option-container">
        <input id="manual" class="radio-inline__input" type="radio" name="type" value="manual"/>
        <label class="radio-inline__label" for="manual">
            手動処理(スマホ等も対応(バグあり))
            <div id="balloonB" class="balloon">自分で処理したいところを選択できます</div>
        </label>
    </div>
    <br>
    <br>
    <div id="library_form" style="display: show;">
        <!-- ラジオボタンでdlibとyolov8を切り替える -->
        <h1>❹自動処理の処理モードどっちにする？</h1>
        <div class="option-container">
            <input id="dlib" class="radio-inline__input" type="radio" name="library" value="dlib" checked="checked"/>
            <label class="radio-inline__label" for="dlib">
                速度早め
                <div id="balloonC" class="balloon">早いけど加工漏れがあるかも！？</div>
            </label>
        </div>
        <div class="option-container">
            <input id="yolov8" class="radio-inline__input" type="radio" name="library" value="yolov8"/>
            <label class="radio-inline__label" for="yolov8">
                精度高め
                <div id="balloonD" class="balloon" style="display: none;">遅いけど精度が高いよ</div>
            </label>
        </div>
    </div>
    <br>
    <br>
    <button type="submit" class="button">
        <img src="{{ url_for('static', filename='images/SVGs/hand-index-thumb-fill.svg') }}" alt="Process" class="svg-icon" style="width: 1em; height: 1em;">
        加工する！
    </button>
    <!-- <input type="submit" value="加工する！" class="button"> -->
</form>

<br>

<div class="GoogleForm">
    <iframe
      src="https://forms.gle/obtcKXzo9Jvd2Rfw7"
      width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>

<script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>

{% endblock %}
