{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="flex">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/newheader.png') }}" width="170" id="backButton">
        </div>
        <div class="text-container">
            <h2>肖像権指パッチン</h2>
            <a href='/intro' target="_blank">このサイトの使い方</a>
        </div>
    </div>
    <p><h2>手動で画像の顔を隠します！</h2></p>
    <img src="{{ url_for('static', filename='images/guide.gif') }}" width="350">
    <div class="text-container">
        <h5>使い方のイメ〜ジ(タッチ操作の場合、最初に縮小してね)</h5>
    </div>
</div>
<br>

<!-- モード切替ボタンを追加 -->
<div class="for-sp">
    <button id="modeButton" class="mode-btn">スクロールモードへ</button>
</div>

<!-- 手動処理画面で処理したい画像を表示 -->
<img src="{{ url_for('static', filename='files/' + filename) }}" alt="filename" id="filename">

<!-- フォームで処理のオプションと範囲の座標を送信 -->
<form action="/process" method="post" enctype="multipart/form-data">
    <!-- 隠しフィールドでファイル名とオプションを送信 -->
    <input type="hidden" name="original" value="{{ original }}">
    <input type="hidden" name="filename" value="{{ filename }}">
    <input type="hidden" name="option" value="{{ option }}">
    <input type="hidden" name="stamp" value="{{ stamp }}">
    <input type="hidden" name="stamp_type" value="{{ stamp_type }}">
    <!-- 隠しフィールドで範囲の座標のリストを送信 -->
    <input type="hidden" name="faces" id="faces">
    <br>
    <button type="submit" class="button_kako">
        <img src="{{ url_for('static', filename='images/SVGs/hand-index-thumb-fill.svg') }}" alt="Process" class="svg-icon" style="width: 1em; height: 1em;">
        加工する！
    </button>
</form>
<br>

<div class="for-pc">
    <span class="close-btn" onclick="closeBox()">×</span>
    <div class="box2">
    初めての方へ<br>
    使い方は<a href='/intro' target="_blank">コチラ</a>
</div>

<script src="{{ url_for('static', filename='javascript/manual.js') }}"></script>

{% endblock %}
