{% extends "layout.html" %}

{% block content %}
<div class="container"><div class="flex">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" width="170">
    </div>
    <div class="text-container">
        <h2>肖像権指パッチン</h2>
    </div>
</div>
<p><h2>画像の加工が完了しました</h2></p>
</div>
<!-- 加工前と加工後の画像を表示 -->

<img src="{{ url_for('static', filename='up/' + original) }}" alt="original" width="49%">
<img src="{{ url_for('static', filename='down/' + processed) }}" alt="processed" width="49%">


<div class="button.btn "><div class="container">
    <br>
    <form action="/" method="get">
        <a href="/" class="button">新しく画像を加工する</a>
        <!-- ダウンロードボタンを追加 -->
        <a href="{{ url_for('static', filename='down/' + processed) }}" download="downloaded_{{ processed }}" class="button" role="button"><span>加工後の画像をダウンロードする</span></a>
    </form>
</div></div>

<script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>
{% endblock %}