

{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="flex">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/newheader.png') }}" width="170" id="backButton">
            <script>
            // ロゴ画像の要素を取得する
            var backButton = document.getElementById('backButton');
            // ロゴ画像のクリックイベントにリスナーを登録する
            backButton.addEventListener('click', function() {
                var returnHTML = 'https://finger-snap.st.ie.u-ryukyu.ac.jp/';
                // ページをリダイレクト
                window.location.href = returnHTML;
            });
            </script>
        </div>
        <div class="text-container">
            <h3>肖像権指パッチン</h3>
            <a href='/intro' target="_blank">このサイトの使い方</a>
        </div>
    </div>
    <div class="text-container">
        <p><h2>画像の加工が完了しました</h2></p>
    </div>
</div>
<br>

<!-- 処理前の画像と処理後の画像を表示 -->

<form method="POST" enctype="multipart/form-data">
    <div class="flex">
        <video width="50%" controls>
            <source src="{{ url_for('static', filename='videos/' + filename) }}" type="video/mp4" alt="filename">
        </video>

        <video width="50%" controls>
            <source src="{{ url_for('static', filename='videos/' + filename) }}" type="video/mp4" alt="filename">
        </video>
    </div>
</form>


<div class="button.btn ">
    <div class="container">
        <form>
        <option value="{{ filename }}">{{ original }}</option>
        <a href="{{ url_for('static', filename='videos/' + filename) }}" download="downloaded_{{ filename }}" class="button" role="button">
            <img src="{{ url_for('static', filename='images/SVGs/download.svg') }}" alt="Download Processed Image" class="svg-icon" style="width: 1em; height: 1em; "> 
            加工後の画像をダウンロードする
        </a>
        </form>
    </div>
</div>
<br>

<div class="for-pc">
    <div class="button.btn ">
        <div class="container">
            <form action="/" method="get">
                <button type="submit" class="button2">
                    <img src="{{ url_for('static', filename='images/SVGs/plus-circle-fill.svg') }}" alt="Process New Image" class="svg-icon" style="width: 1em; height: 1em;">
                    新しく画像を加工する！
                </button>
            </form>
        </div>
    </div>
    <br>
</div>



<div class="for-sp">
    <div class="button.btn ">
        <div class="container">
            <form action="/" method="get">
                <button type="submit" class="button">
                    <img src="{{ url_for('static', filename='images/SVGs/plus-circle-fill.svg') }}" alt="Process New Image" class="svg-icon" style="width: 1em; height: 1em;">
                    新しく画像を加工する！
                </button>
            </form>
            <form action="/Vupload" method="get">
                <button type="submit" class="button">
                    <img src="{{ url_for('static', filename='images/SVGs/plus-circle-fill.svg') }}" alt="Process New Image" class="svg-icon" style="width: 1em; height: 1em;">
                    新しく動画を加工する！
                </button>
            </form>
        </div>
    </div>
    <br>
</div>

<script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>

{% endblock %}
