{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="flex">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/newheader.png') }}" width="170" id="backButton">
            <script>
            // ロゴ画像の要素を取得する
            var backButton = document.getElementById('backButton');
            // ロゴ画像のクリックイベントにリスナーを登録する
            backButton.addEventListener('click', function() {
                var returnHTML = 'https://finger-snap.st.ie.u-ryukyu.ac.jp/';
                // ページをリダイレクト
                window.location.href = returnHTML;
            });
            </script>
        </div>
        <div class="text-container">
            <h3>肖像権指パッチン</h3>
            <a href='/intro' target="_blank">このサイトでできること</a>
        </div>
    </div>
    <div class="text-container">
        <p><h2>動画の加工が完了しました</h2></p>
    </div>
</div>
<br>

<!-- 処理前の画像と処理後の画像を表示 -->
<form method="POST" enctype="multipart/form-data">
    <div class="flex">
        <video width="50%" controls><source src="{{ url_for('static', filename='videos/' + filename) }}" alt="filename"></video>
        <video width="50%" controls><source src="{{ url_for('static', filename='videos/' + processed) }}" alt="processed"></video>
    </div>
</form>

<div class="button.btn ">
    <div class="container">
        <form>
            <option value="{{ filename }}">{{ original }}</option>
            <a href="{{ url_for('static', filename='videos/' + processed) }}" download="downloaded_{{ filename }}" class="button" role="button">
                <img src="{{ url_for('static', filename='images/SVGs/download.svg') }}" alt="Download Processed Video" class="svg-icon" style="width: 1em; height: 1em; "> 
                加工後の動画をダウンロードする
            </a>
        </form>
    </div>
</div>
<br>

<div class="for-pc">
    <div class="button.btn ">
        <div class="container">
            <form action="/Vupload" method="get">
                <button type="submit" class="button2">
                    <img src="{{ url_for('static', filename='images/SVGs/plus-circle-fill.svg') }}" alt="Process New Video" class="svg-icon" style="width: 1em; height: 1em;">
                    新しく画像を加工する！
                </button>
            </form>
            <form action="/Vupload" method="get">
                <button type="submit" class="button2">
                    <img src="{{ url_for('static', filename='images/SVGs/plus-circle-fill.svg') }}" alt="Process New Video" class="svg-icon" style="width: 1em; height: 1em;">
                    新しく動画を加工する！
                </button>
            </form>
        </div>
    </div>
    <br>
</div>

<div class="for-sp">
    <div class="button.btn ">
        <div class="container">
            <form action="/" method="get">
                <button type="submit" class="button">
                    <img src="{{ url_for('static', filename='images/SVGs/plus-circle-fill.svg') }}" alt="Process New Video" class="svg-icon" style="width: 1em; height: 1em;">
                    新しく画像を加工する！
                </button>
            </form>
            <form action="/Vupload" method="get">
                <button type="submit" class="button">
                    <img src="{{ url_for('static', filename='images/SVGs/plus-circle-fill.svg') }}" alt="Process New Video" class="svg-icon" style="width: 1em; height: 1em;">
                    新しく動画を加工する！
                </button>
            </form>
        </div>
    </div>
    <br>
</div>

<a href="https://docs.google.com/document/d/1OEpoBB9DtwWiP6YmjgQovh9EyFBZ-AH8vUmGbsJu34c/edit?usp=sharing">時間短めレビューの先はこちら</a>

<div class="GoogleForm">
    <iframe
      src="https://forms.gle/obtcKXzo9Jvd2Rfw7"
      width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>

<script src="{{ url_for('static', filename='javascript/v_sample.js') }}"></script>

{% endblock %}
